TravelGoodREST/web/WEB-INF/wsdl/localhost_8080/LameDuck/AirlineReservationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lameduck.dtu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lameduck.dtu/" name="AirlineReservationService">
<types>
<xsd:schema>
<xsd:import namespace="http://lameduck.dtu/" schemaLocation="http://localhost:8080/LameDuck/AirlineReservationService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFlights">
<part name="parameters" element="tns:getFlights"/>
</message>
<message name="getFlightsResponse">
<part name="parameters" element="tns:getFlightsResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="bookFlight">
<part name="parameters" element="tns:bookFlight"/>
</message>
<message name="bookFlightResponse">
<part name="parameters" element="tns:bookFlightResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="cancelFlight">
<part name="parameters" element="tns:cancelFlight"/>
</message>
<message name="cancelFlightResponse">
<part name="parameters" element="tns:cancelFlightResponse"/>
</message>
<portType name="AirlineReservationService">
<operation name="getFlights">
<input wsam:Action="http://lameduck.dtu/AirlineReservationService/getFlightsRequest" message="tns:getFlights"/>
<output wsam:Action="http://lameduck.dtu/AirlineReservationService/getFlightsResponse" message="tns:getFlightsResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://lameduck.dtu/AirlineReservationService/getFlights/Fault/ParseException"/>
</operation>
<operation name="bookFlight">
<input wsam:Action="http://lameduck.dtu/AirlineReservationService/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://lameduck.dtu/AirlineReservationService/bookFlightResponse" message="tns:bookFlightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://lameduck.dtu/AirlineReservationService/bookFlight/Fault/Exception"/>
</operation>
<operation name="cancelFlight">
<input wsam:Action="http://lameduck.dtu/AirlineReservationService/cancelFlightRequest" message="tns:cancelFlight"/>
<output wsam:Action="http://lameduck.dtu/AirlineReservationService/cancelFlightResponse" message="tns:cancelFlightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://lameduck.dtu/AirlineReservationService/cancelFlight/Fault/Exception"/>
</operation>
</portType>
<binding name="AirlineReservationServicePortBinding" type="tns:AirlineReservationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cancelFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="AirlineReservationService">
<port name="AirlineReservationServicePort" binding="tns:AirlineReservationServicePortBinding">
<soap:address location="http://localhost:8080/LameDuck/AirlineReservationService"/>
</port>
</service>
</definitions>